<div class="py-3">
  <div class="container">
    <div class="row mt-4">
      <% if @user.id == current_user.id %>
        <%= render partial: 'mypage/account_menu_mt-0' %>
      <% end %>
      <div class="col-xl-9 col-lg-9 col-md-12 col-12 mb-5 mt-2 ">
        <div class="d-flex border-bottom pb-2 mb-4 d-lg-flex justify-content-between align-items-center">
          <div>
            <h1 class="mb-0 h2">通知</h1>
          </div>
          <div>
            <%= link_to "通知を全て削除する", destroy_all_notifications_path,data: {"turbolinks" => false}, method: :delete, class: "btn btn-outline-success btn-sm" %>
          </div>
        </div>
        <div class="card rounded-lg">
          <!-- Card list -->
          <ul class="list-group list-group-flush">
            <% if @notifications.exists? %>
              <%= render partial: 'notification', collection: @notifications %>
            <% else %>
            <li class="list-group-item bg-transparent py-4">
              <div class="row align-items-center">
                <div class="col">
                  <div class="d-flex align-items-center">
                    <div class="ml-3">
                      <p class="mb-0">通知はありません</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <%= paginate @notifications %>
      </div>
    </div>
  </div>
</div>
