body {
  background-color: #F1F9FC;
}

.bg-primary {
  background-color: #DCF0F9 !important;
}

.text-dark-warning {
  color: #fff !important;
}

.bg-light-warning {
  background-color: #2DAADB !important;
}

.nav-lb-tab .nav-item .nav-link.active,
.nav-lb-tab .nav-item .nav-link:hover {
  background-color: transparent;
  border-bottom: 2px solid #2DAADB;
  color: #2DAADB;
}

.navbar-default .navbar-nav .nav-item .nav-link:hover {
  color: #2DAADB;
}

.btn-success {
    color: #fff;
    background-color: #2DAADB;
    border-color: #2DAADB;
}

.btn-outline-success {
    color: #2DAADB;
    border-color: #2DAADB;
}

.pb-20, .py-20 {
    padding-bottom: 4.0rem!important;
    padding-top: 4.0rem!important;
}



.btn-outline-success:hover {
    color: #fff;
    background-color: #2DAADB;
    border-color: #2DAADB;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #2DAADB;
    border-color: #2DAADB;
}

.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #1F8CB7;
    border-color: #1F8CB7;
    box-shadow: 0 0 0 0.2rem rgb(72 180 97 / 50%);
}

.btn-success:hover {
    color: #fff;
    background-color: #1F8CB7;
    border-color: #1F8CB7;
}

.sidenav.navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: #dcf4f4;
    color: #2DAADB;
}

.nav-lt-tab .nav-item .nav-link.active, .nav-lt-tab .nav-item .nav-link:hover {
    background-color: transparent;
    border-top: 2px solid #2DAADB;
    color: #2DAADB;
    font-weight: bold;
}

.indicator-primary.indicator:before {
    background-color: #ff4500;
}

.alert {
    margin-bottom: 0rem;
}

.navbar .navbar-toggler {
    border: 1px solid #2DAADB;
}

.navbar .navbar-toggler .bottom-bar {
    background-color: #2DAADB;
}

.navbar .navbar-toggler .top-bar {
    background-color: #2DAADB;
}

.navbar .navbar-toggler.collapsed .bottom-bar {
    background-color: #2DAADB;
}

.navbar .navbar-toggler.collapsed .icon-bar {
  background-color: #2DAADB;
}

a:hover {
    color: #2DAADB;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #2DAADB!important;
}

a {
    color: #2DAADB;
}

.dropdown-item:hover {
  color: #2DAADB;
}

.form-control:focus {
    border-color: #2DAADB;
}

.btn-lg {
  line-height: 1.0;
}

.year,.month,.day{
  display: inline-block;
  width: auto;
}

.nav-lb-tab {
    border-bottom: 1px solid #dbd8e9;
    border: 0px none;
}

.love {
  background-image: url("../images/parts5.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px !important;
}

.loved {
  background-image: url("../images/parts7.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px !important;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none!important;     /*枠線をなくす*/   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff!important;     /*背景の色を変える*/
  border-radius: 30px!important;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 30px!important;    /*角を丸くする*/
}

.page-link:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: #93c9ff!important;
    border-color: #93c9ff!important;
}
