<p><%= "#{@user.name}さま" %></p>
<p><%= @resource.email %></p>

<p>以下、リンクへアクセスしていただき、パスワードの再設定をお願いいたします。</p>

<p><%= link_to 'パスワード再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>なお、このメールはシステムより自動配信されておりますため返信はできません。ご了承をお願いいたします。</p>
