<div class="container d-flex flex-column mt-sm-6 mb-sm-6">
  <div class="row align-items-center justify-content-center no-gutters">
    <div class="col-12 py-8 py-xl-0">
      <div class="card shadow mb-4">
        <div class="card-body p-8">
        <h5 class="text-center mt-2" style="font-weight: bold;">2021.5.14</h5>
        <h3 class="text-center mt-2" style="font-weight: bold; color: #fa518b;">サイトオープンのお知らせ</h3>
        <p class="text-left">この度、経験者に質問して疑問解決するコミュニティサイト「Keiken」を開設いたしました。</p>
        <p class="text-left">対面でのコミュニケーションが難しい昨今の情勢下において、対面での悩み、疑問解決が難しい方々に対し、オンラインでの問題解決の場を提供したく「Keiken」を開設いたしました。</p>
        <p class="text-left">オンラインでの情報収集は容易である一方、少しでも安心・信頼ができる情報提供ができるよう、経験者に回答いただくシステムにいたしました。</p>
        <p class="text-left">今後は、みなさまのご要望をいただきながら、サイト改善も行っていきたく思っておりますため、多くの方にご利用いただき、忌憚ないご意見をお聞かせいただけますと幸いです。</p>
        <div class="text-right">
        <i class="fab fa-twitter font-size-md mr-2"></i><%= link_to "@keiken_info", "https://twitter.com/keiken_info" %>
        </div>
      </div>
    </div>
  </div>
</div>
