<% set_meta_tags noindex: true %>
<div class="container d-flex flex-column mt-sm-6 mb-sm-6">
  <div class="row align-items-center justify-content-center no-gutters">
    <div class="col-lg-6 col-md-8 py-8 py-xl-0">
      <!-- Card -->
      <div class="card shadow ">
        <!-- Card body -->
        <div class="card-body p-6">
          <div class="mb-4">
            <h1 class="mb-2 font-weight-bold text-center" style="color: #00DB83;">ご登録ありがとうございます</h1>
            <p>登録いただきましたメールアドレスに本人確認メールを送信いたしました。<p>
            <p>初回ログインの際は、そちらのメールに記載されているリンクよりログインをお願いいたします。<p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
